.splash-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
}

.splash-screen img {
  max-width: 300px;
  animation: fadeInOut 3s;
}
