<div class="login-hero">
  <!-- SLIDER -->
  <div class="slider">
    <div
      class="slide"
      *ngFor="let img of images; let i = index"
      [class.active]="i === currentIndex"
      [style.backgroundImage]="'url(' + img + ')'"
    ></div>
  </div>

  <!-- OVERLAY DEGRADÉ -->
  <div class="overlay"></div>

  <!-- CONTENU -->
  <div class="content fade-in">
    <img src="content/images/image 11.png" class="logo" alt="Logo Next Step Sénégal" />

    <h1 class="title">NEXT STEP SÉNÉGAL</h1>

    <p class="subtitle">
      Rejoignez notre plateforme et accédez à des
      <span class="highlight">opportunités d’avenir</span>.
    </p>

    <button class="login-btn nextstep-btn" (click)="login()">Se connecter</button>

    <!-- FLÈCHE -->
    <div class="arrow-wrapper">
      <div class="arrow"></div>
    </div>
  </div>
</div>
